.list-item__container {
    flex: 1;
    padding: 0 20px;
    border: 1px solid;
}

.list-item-empty::marker {
    color: transparent;
}

@media screen and (max-width: 1279px) {
    .list-item-empty {
        display: none;
    }

}
